/* :root {
  
} */

* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.025em;
  line-height: calc(1em + 0.5rem);
  box-sizing: border-box;
}
*,
/* html {
  scroll-behavior: smooth !important;
} */

/* section {
  scroll-margin: 5em;
} */
body {
  font-family: "Roboto", sans-serif;
  color: #000000;
  overflow-x: hidden;
}

Image,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

li,
button {
  cursor: pointer;
  border: none;
  list-style: none;
  text-transform: capitalize;
}

/*  scrollEffect    css-----------------------------*/
.scrollEffect {
  height: 100vh;
  scroll-snap-type: y mandatory;
}
.section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
/*  scrollEffect    css-----------------------------*/
